body {
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  .aboutus-banner{
    margin-top: 10px;
    text-align: center;
    
  }

  .aboutus-banner img{
    box-shadow: 0px 0px 5px 0px whitesmoke;
    margin-top: 10px;
    border-radius: 40px; 
    margin-bottom: 10px;
  }

  .aboutus-content{
    margin: 0 30px;
    
  }
  .aboutus-content h2{
    text-align: center;
    line-height: 40px;
  }
  .aboutus-content div{
    text-align: center;
  }
  .aboutus-content p{
    text-align: justify;
    line-height: 40px;
  }
  .product-list{
    margin-left: 20px;
    line-height: 30px;
  }

  .group4-layout{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
  
  .flip-card {
    background-color: transparent;
    width: 30%;
    height: 400px;
    perspective: 1000px;
    border-radius: 40px;
    margin: 20px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 40px;
    
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    border-radius: 40px;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 40px;
    
  }
  
  .flip-card-front {
    background-color: white;
    color: black;
    border-radius: 40px;
    line-height: 20px;
    
  }
  .flip-card-front p{
    font-size: 18px;
  }
  .flip-card-front img{
    width:200px;
    height:200px;
    background-color: white;
    border-radius: 50%;
    margin: 20px;
  }
  
  .flip-card-back {
    background-color: var(--primaryYellow);
    transform: rotateY(180deg);
    border-radius: 40px;
    font-size: 16px;
    
  }
  .flip-card-back h2{
    margin-top: 40px;
  }

  .member-layout{
    text-align: left;
    margin: 20px;
  }
  .member-infor{
    font-weight: bold;
  }
  .member-layout tr td{
    width: 10%;
  }

  /* RESPONSIVE */
  @media screen and (max-width: 589px){
    .aboutus-banner{
      margin-top: 60px;
      text-align: center;
      
    }
    .aboutus-banner img{
      border-radius: 10px;
    }
    .aboutus-content{
      line-height: 10px;
    }
    .aboutus-content h2{
      font-size: 18px;

    }
    .aboutus-content h3{
      font-size: 16px;

    }
    .aboutus-content ul li{
      font-size: 16px;
    }
    .aboutus-content p{
      text-align: justify;
      line-height: 30px;
      font-size: 16px;
    }
    .flip-card {
      background-color: transparent;
      width: 90%;
      height: 400px;
      perspective: 1000px;
      border-radius: 40px;
      margin: 10px;
    }
    .flip-card-front h2{
      font-size: 18px;
    }
    .flip-card-front p{
      font-size: 18px;
    }
    .flip-card-back{
      line-height: 18px;
      align-items: center;
      justify-content: center;
    }
    .flip-card-back h2{
      font-size: 18px;
    }
    .member-infor{
      font-size:15px;
    }
    .member-layout tr td{
      font-size: 16px;

    }
    .member-layout tr th{
      font-size: 16px;

    }

  }
  @media only screen and (min-width: 590px) and (max-width: 767px){
    .aboutus-banner img{
      border-radius: 10px;
    }
    .flip-card {
      background-color: transparent;
      width: 40%;
      height: 400px;
      perspective: 1000px;
      border-radius: 40px;
      margin: 10px;
    }
    .flip-card-front h2{
      font-size: 18px;
    }
    .flip-card-front p{
      font-size: 18px;
    }
    .flip-card-back{
      line-height: 18px;
    }
    .flip-card-back h2{
      font-size: 18px;
    }
    .member-infor{
      font-size:15px;
    }
    .member-layout tr td{
      font-size: 14px;

    }
    .member-layout tr th{
      font-size: 14px;

    }

  }
  @media only screen and (min-width: 768px) and (max-width: 991px){
    .aboutus-banner img{
      border-radius: 20px;
    }
    .flip-card {
      background-color: transparent;
      width: 40%;
      height: 400px;
      perspective: 1000px;
      border-radius: 40px;
      margin: 10px;
    }
    .flip-card-front h2{
      font-size: 20px;
    }
    .flip-card-back{
      line-height: 18px;
    }
    .flip-card-back h2{
      font-size: 20px;
    }
    .member-infor{
      font-size:15px;
    }


  }
  @media only screen and (min-width: 992px) and (max-width: 1199px){
    .flip-card {
      background-color: transparent;
      width: 30%;
      height: 400px;
      perspective: 1000px;
      border-radius: 40px;
      margin: 10px;
    }
    .flip-card-front h2{
      font-size: 20px;
    }
    .flip-card-back{
      line-height: 16px;
    }
    .flip-card-back h2{
      font-size: 20px;
    }
    .member-infor{
      font-size:15px;
    }

  }

