@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
section .noi-dung table .menu-left{
    width: 35%;
}
section .noi-dung table .menu-left .infor{
    margin-left: 5%;
    margin-top: 5%;
}
section .noi-dung .menu-left .infor .tuy-chon{
    margin-left: 28%;

}
section .noi-dung table .menu-left .tuy-chon .thong-tin-tai-khoan ul li{
    list-style: none;
    margin-bottom: 7%;
}
section .noi-dung table .menu-left .tuy-chon .thong-tin-tai-khoan ul li ul{
    display: none;
}
section .noi-dung table .menu-left .tuy-chon .thong-tin-tai-khoan ul li:hover ul{
    display: block;
}
section .noi-dung table .menu-left .tuy-chon .thong-tin-tai-khoan ul li ul li{
    list-style: none;
    margin-bottom: 3%;
    margin-left: 10%;
}
section .noi-dung table .menu-left .tuy-chon .thong-tin-tai-khoan ul li a{
    text-decoration: none;
}
section .noi-dung table .menu-left .tuy-chon .thong-tin-tai-khoan ul li a img{
    width: 7%;
    height: 7%;
}
section .noi-dung table .menu-left .tuy-chon li a:hover{
    color:var(--V1);
}
section .noi-dung table .menu-left .infor .account_img table{
    margin-left: 5%;
    margin-bottom: 6%;
}
section .noi-dung table .menu-left .infor .account_img img{
    width: 50%;
    height: 50%;
    margin-left: 40%;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

section .noi-dung table .menu-left .infor .account_img p img{
    width: 8%;
    height: 8%;
    margin-left: 0%;
}
section .noi-dung table .menu-left .infor .account_img p a{
    text-decoration: none;
}
section .noi-dung table .menu-left .infor .account_img p a:hover{
    color:var(--V1);
}


/* CSS của màn hình thông báo trống */
section .noi-dung table .thong-bao-trong{
    border: 1px solid var(--ink03);
    margin-right: 10%;
    margin-top: 5%;
}

section .noi-dung table .thong-bao-trong{
    text-align: center;
    justify-content: center;
}

section .noi-dung table .thong-bao-trong p {
    margin-bottom: 10%;
}

section .noi-dung table .thong-bao-trong img{
    width: 50%;
    height: 50%;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
}

/* CSS của màn hình hồ sơ cá nhân */
section .noi-dung table .ho-so-ca-nhan{
        border: 1px solid var(--ink03);
        margin-right: 10%;
        margin-top: 5%;
        margin-bottom: 10%;
}

section .noi-dung table .ho-so-ca-nhan form{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

section .noi-dung table .ho-so-ca-nhan form h2{
    margin-top: 2%;
}
section .noi-dung table .ho-so-ca-nhan form p{
    margin-top: 3%;
    margin-bottom: 1%;
}

/* CSS các input của màn hình hồ sơ cá nhân*/
section .noi-dung table .ho-so-ca-nhan form .input-form input{
    width: 60%;
    /* height: 40%; */
    padding: 10px 10px;
    outline: none;
    border: 1px solid var(--ink03);
    font-size: 16px;
    /* letter-spacing: 1px; */
    background: transparent;
    border-radius: 7px;
    margin-bottom: 5px;
    }

section .noi-dung table .ho-so-ca-nhan form input[type="submit"]{
    background: var(--primaryYellow);
    color: var(--primaryWhite);
    text-transform: uppercase;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
}

section .noi-dung table .ho-so-ca-nhan form .input-form input[type="date"]
{
    margin-bottom: 3%;
}



/* CSS của màn hình đơn hàng */
section .noi-dung table .don-hang{
    border: 1px solid var(--ink03);
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
    justify-content: center;
}

/* định dạng thẻ div chưa các button tab */
section .noi-dung table .don-hang .tab {
    overflow: hidden; 
    border: 1px solid #ccc; 
    background-color: #fff;
    margin-left: 5%;
    margin-right: 5%;
}
section .noi-dung table .don-hang h2{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    text-align: left;
}
/* định dạng các button tab */
section .noi-dung table .don-hang .tab button {
    background-color: inherit; 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    transition: 0.3s;
    font-size: 17px;
    width: 25%;
    height: auto;
}
 
/* đổi màu khi một button tab được hover */
section .noi-dung table .don-hang .tab button:hover {
    background-color: #ddd;
}
 
/* đổi màu nền cho tab đang được hiển thị nội dung */
section .noi-dung table .don-hang .tab button.active {
    background-color: #F7DC41;
}

 
/* định dạng nội dung hiển thị */
section .noi-dung table .don-hang .tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

section .noi-dung table .don-hang .tabcontent p{
    margin-bottom: 10%;
}
section .noi-dung table .don-hang .tabcontent img {
    width: 50%;
    height: 50%;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 2%;
}