@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;    
    font-family: 'Montserrat', sans-serif;
}

main {    
    padding: 0 100px;
    font-size: 16px;    
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.left-column {
    float: left;
    width: 75%;    
}
/* Right column */
.right-column {
    float: left;
    width: 25%;
}

.row {
    display: flex;
    margin-bottom: 16px;
}
  
.column {
    flex: 50%;
    margin-right: 20px;
}

.column h5 {
    text-align: center;
    padding: 0 5px;
    font-weight: bold;        
}

.type-date {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.thumbnail {
    width: 100%;
}

.type-date img {
    height: 13px;
    margin-left: 10px;
}

.type-date span {
    font-size: 13px;
    color: var(--ink02);
}

.column:hover {    
    cursor: pointer;
}

.column:hover .thumbnail {
    box-shadow: 0 4px 8px 0 var(--ink02), 0 6px 20px 0 var(--ink02);    
}

.column:hover h5 {
    color: var(--primaryYellow);
}


/* Bài viết mới nhất */
.post-content {
    display: flex;
    margin-bottom: 10px;
}
    .lColumn {
        float: left;
        width: 40%;
        margin-right: 10px;
    }
        .lColumn img {
            width: 100%;
        }
    .rColumn {
        float: left;
        width: 60%;        
        font-size: 14px;
    }
        .post-title {
            font-weight: bold;                       
        }   
        .post-type-date {
            display: flex;
            font-size: 12px;
            margin-top: 5px;       
        }            
            .post-type-date img {
                height: 11px;
                margin-right: 3px;
            }
.post-content:hover {
    cursor: pointer;
}
    .post-title:hover {
        color: var(--primaryYellow);
    }


/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;  
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot-container {
  position: absolute;
  width: 100%;
  margin-top: -30px;
  align-items: center;
}

/* The dots/bullets/indicators */
.dot {  
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

/* Pagination */
.pagination {
    width: 100%;
    float: left;
    margin: 40px 0;
    text-align: center; 
}

.pagination a {
    font-weight: bold;
    background: var(--primaryWhite);
    padding: 10px 16px;
    margin: 1px;
    text-decoration: none;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--primaryYellow);
    transition: 0.3s;
}

.pagination a:hover {
    background: var(--primaryYellow);
    transition-duration: 0.3s;
}

.active-page {
    background: var(--primaryYellow) !important;
    transition-duration: 0.3s;
}