.main-container {
    font-family: 'Montserrat', sans-serif;
}

.container .back-to-product {
    font-size: 15px;
}
.container .back-to-product a{
    text-decoration:none;
}
    .container .back-to-product a:hover {
        text-decoration: none;
        color:  var(--primaryYellow);
    }

/*Giỏ hàng của tôi*/
.cart-header {
    width: 100%;
    float: left;
}
    .cart-header h1 {
        font-weight: bold;
        font-size: 22px;
        color:  var(--primaryBlack);
    }

        .cart-header h1 span {
            font-size: 15px;
            font-weight: 400;
            color: #8d90a6;
        }

/*khung sản phẩm - thanh thdead*/
.cart-table {
    border-radius: 20px;
    background: var(--ink05);
    padding: 15px 30px;
    width: 100%
}

    .cart-table .cart-thead {
        font-weight: bold;
        width: 100%;
        display: inline-block;
        border-bottom: dashed 1px var(--ink03);
        min-width: 600px
    }

        .cart-table .cart-thead div {
            float: left;
            color: var(--primaryBlack);
            text-align: center;
            font-size: 16px;
            padding: 10px 0px 10px
        }

        .cart-table .cart-thead .thead-name {
            width:40%;
            text-align:left;
            padding-left: 15px
        }

        .cart-table .cart-thead .thead-price {
            width:19%;
        }

        .cart-table .cart-thead .thead-qty {
            width:18%; 
            padding-left: 15px
        }

        .cart-table .cart-thead .thead-total {
            width:22%; 
            padding-left: 15px
        }

    /*khung sản phẩm - phần body*/
    .cart-table .cart-tbody {
        width: 100%;
        float: left
    }

        .cart-table .cart-tbody .item {
            float: left;
            border-bottom: dashed 1px var(--ink03);
            width: 100%;
            padding: 30px 0px
        }

            .cart-table .cart-tbody .item div {
                float: left;
                vertical-align: top;
                height: 100px;
            }

            .cart-table .cart-tbody .item .tbody-image {
                width: 17%
            }

            .cart-table .cart-tbody .item .tbody-name {
                width: 25%
            }

            .cart-table .cart-tbody .item .tbody-price {
                width: 18%; 
                text-align:center
            }

            .cart-table .cart-tbody .item .tbody-quantity {
                width: 18%; 
                text-align:center
            }

            .cart-table .cart-tbody .item .tbody-total {
                width: 22%; 
                text-align:center
            }

            .mobile-tbody-quantity-delete, .mobile-tbody-name-price {
                display: none;
            }

            .cart-table .cart-tbody .item .product-image {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                width: 100px;
                background: var(--primaryWhite);
            }

            .cart-table .cart-tbody .item .product-name {
                font-size: 15px;
                line-height: 25px;
                color:var(--primaryBlack);
                height: 50px;
                font-weight: bold;
                float: left;
                width: 100%;
                overflow: hidden;
            }

                .cart-table .cart-tbody .item .product-name a {
                    color: var(--primaryBlack);
                    text-decoration: none
                }

            .cart-table .cart-tbody .item .btn-remove-item-cart {
                color: #030049;
                display: inline;
                font-size: 13px;
                margin-top: 12px;
                font-weight: 400;
                float: left;
                width: 100%;
                text-decoration: none
            }

            .cart-table .cart-tbody .item .price {
                font-weight: bold;
                font-size: 14px;
                color: #F34646;
                line-height: 4.5
            }

            .cart-table .cart-tbody .item .product-quantity {
                display: flex;
                justify-content: center;
                float: left;
                border: none;
                margin-top: 12%;
                width: 100%;
            }

                .cart-table .cart-tbody .item .product-quantity .number-sidebar {
                    border: 1px solid #eaebf3;
                    height: 30px;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    vertical-align: top;
                    width: 45px;
                    float: left;
                    margin: 0 -1px;
                }

                .cart-table .cart-tbody .item .product-quantity .btn-minus, .btn-plus {
                    border: 1px solid #eaebf3;
                    height: 30px;
                    width: 27px;
                    color: black;
                    font-size: 14px;
                    font-weight: bold;
                    background:var(--primaryWhite);
                    padding: 0
                }

    .cart-table .btn-continue {
        background-color:  var(--primaryYellow);
        border: none;
        color: var(--primaryWhite);
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        height: 40px;
        font-weight: bold;
        margin-left: 0px;
        margin-top: 20px;
        padding: 0 30px;
        border: 1px solid transparent
    }

        .cart-table .btn-continue:hover {
            border: solid 1px var(--primaryBlack);
            background:  var(--primaryYellow);
            color:var(--primaryBlack);
            cursor: pointer;
            text-decoration: none
        }

.table-total {
    float: left;
    padding: 20px;
    width: 100%;
    background: var(--ink05);
    border-radius: 20px;
    text-align: center;
}

    .table-total .checkprice {
        border-bottom: 1px dashed var(--ink03);
        height: 40px;
    }

    .table-total .checkprice .totals-header {
        font-weight:bold;
        text-align:left;
        font-size: 16px;
        float: left
    }

        .table-total .checkprice .totals-price {
            font-weight: bold;
            font-size: 18px;
            float: right;
            color: #F34646
        }

    .table-total .btn-pay {
    background-color:  var(--primaryYellow);
    border: none;
    color: var(--primaryWhite);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    height: 40px;
    font-weight: bold;
    margin-left: 0px;
    font-weight: 700;
    margin-top: 20px;
    padding: 0 20px;
    border: 1px solid transparent
}

        .table-total .btn-pay:hover {
        border: solid 1px var(--primaryBlack);
        background: var(--primaryYellow);
        color: var(--primaryBlack);
        cursor: pointer;
        text-decoration: none
    }
