main {
    margin-top: 15px; 
    margin-bottom: 40px; 
    min-height: calc(70vh - 40px);
}
.main-container {
    font-family: 'Montserrat', sans-serif;
}

.container .back-to-product {
    font-size: 15px;
}
.container .back-to-product a{
    text-decoration:none;
    font-weight: 500;
    color: var(--p-btnBlue)
}
    .container .back-to-product a:hover {
        text-decoration: none;
        color:  var(--V1);
    }

/*Giỏ hàng của tôi*/
.cart-header {
    width: 100%;
    /* float: left; */
}
    .cart-header h1 {
        font-weight: bold;
        font-size: 22px;
        color:  var(--primaryBlack);
    }

        .cart-header h1 span {
            font-size: 15px;
            font-weight: 400;
            color: #8d90a6;
        }

/*khung sản phẩm - thanh thdead*/
.cart-table {
    border-radius: 20px;
    background: var(--ink05);
    padding: 15px 30px;
    width: 100%
}

    .cart-table .cart-thead {
        font-weight: bold;
        width: 100%;
        display: inline-block;
        border-bottom: dashed 1px var(--ink03);
        min-width: 600px
    }

        .cart-table .cart-thead div {
            float: left;
            color: var(--primaryBlack);
            text-align: center;
            font-size: 16px;
            padding: 10px 0px 10px
        }

        .cart-table .cart-thead .thead-name {
            width:40%;
            text-align:left;
            padding-left: 10px
        }

        .cart-table .cart-thead .thead-price {
            width:19%;
        }

        .cart-table .cart-thead .thead-qty {
            width:18%; 
            padding-left: 15px
        }

        .cart-table .cart-thead .thead-total {
            width:22%; 
            padding-left: 15px
        }

    /*khung sản phẩm - phần body*/
    .cart-table .cart-tbody {
        width: 100%;
        float: left
    }

        .cart-table .cart-tbody .item {
            float: left;
            border-bottom: dashed 1px var(--ink03);
            width: 100%;
            padding: 10px 0px 30px;
        }

            .cart-table .cart-tbody .item div {
                float: left;
                vertical-align: top;
                height: 80px;
            }

            .cart-table .cart-tbody .item .tbody-image {
                width: 17%
            }

            .cart-table .cart-tbody .item .tbody-name {
                width: 25%
            }

            .cart-table .cart-tbody .item .tbody-price {
                width: 18%; 
                text-align:center
            }

            .cart-table .cart-tbody .item .tbody-quantity {
                width: 18%; 
                text-align:center
            }

            .cart-table .cart-tbody .item .tbody-total {
                width: 22%; 
                text-align:center
            }

            .mobile-tbody-quantity-delete, .mobile-tbody-name-price {
                display: none;
            }

            .cart-table .cart-tbody .item .product-image {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                width: 100px;
                background: var(--primaryWhite);
            }

            .cart-table .cart-tbody .item .product-name {
                font-size: 15px;
                line-height: 25px;
                color:var(--primaryBlack);
                height: 50px;
                font-weight: bold;
                float: left;
                width: 100%;
                margin: 10px 0px 12px;
                overflow: hidden;
            }

                .cart-table .cart-tbody .item .product-name a {
                    color: var(--primaryBlack);
                    text-decoration: none
                }

            .cart-table .cart-tbody .item .btn-remove-item-cart {
                color: #030049;
                display: inline;
                font-size: 13px;
                margin-top: 0px;
                font-weight: 400;
                float: left;
                width: 100%;
                cursor: pointer;
                text-decoration: none
            }

            .cart-table .cart-tbody .item .price {
                font-weight: bold;
                font-size: 14px;
                color: #F34646;
                line-height: 4.5
            }

            .cart-table .cart-tbody .item .product-quantity {
                display: flex;
                justify-content: center;
                float: left;
                border: none;
                margin-top: 10%;
                width: 100%;
            }

                .cart-table .cart-tbody .item .product-quantity .number-sidebar {
                    border: 1px solid #eaebf3;
                    height: 30px;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                    vertical-align: top;
                    width: 45px;
                    float: left;
                    margin: 0 -1px;
                }

                .cart-table .cart-tbody .item .product-quantity .btn-minus, .btn-plus {
                    border: 1px solid #eaebf3;
                    height: 30px;
                    width: 27px;
                    color: black;
                    font-size: 14px;
                    font-weight: bold;
                    background:var(--primaryWhite);
                    padding: 0
                }

    .cart-table .btn-continue {
        background-color:  var(--primaryYellow);
        border: none;
        color: var(--primaryWhite);
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        height: 40px;
        font-weight: bold;
        margin-left: 0px;
        margin-top: 20px;
        padding: 0 30px;
        border: 1px solid transparent
    }

        .cart-table .btn-continue:hover {
            border: solid 1px var(--primaryBlack);
            background:  var(--primaryYellow);
            color:var(--primaryBlack);
            cursor: pointer;
            text-decoration: none
        }

.table-total {
    float: left;
    padding: 20px;
    width: 100%;
    background: var(--ink05);
    border-radius: 20px;
    text-align: center;
}

    .table-total .checkprice {
        border-bottom: 1px dashed var(--ink03);
        height: 40px;
    }

    .table-total .checkprice .totals-header {
        font-weight:bold;
        text-align:left;
        font-size: 16px;
        float: left
    }

        .table-total .checkprice .totals-price {
            font-weight: bold;
            font-size: 18px;
            float: right;
            color: #F34646
        }

    .table-total .btn-pay {
    background-color:  var(--primaryYellow);
    border: none;
    color: var(--primaryWhite);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    height: 40px;
    font-weight: bold;
    margin-left: 0px;
    font-weight: 700;
    margin-top: 20px;
    padding: 0 20px;
    border: 1px solid transparent
}

        .table-total .btn-pay:hover {
        border: solid 1px var(--primaryBlack);
        background: var(--primaryYellow);
        color: var(--primaryBlack);
        cursor: pointer;
        text-decoration: none
    }

/*------------- RESPONSIVE -------------*/
@media screen and (max-width: 309px) {
    main {
        margin-top: 65px; 
        margin-bottom: 30px;
        min-height: calc(60vh - 40px);
    }

    .main-container .container{
        margin: 0px;
        max-width: 100%;
    }

    .cart-header h1 {
        font-size: 13px;
        margin-bottom: 0;
    }

        .cart-header h1 span {
            font-size: 11px;
        }

    .cart-table {
        border-radius: 0px;
        padding: 15px 20px 15px;
    }
    
        .cart-table .cart-thead {
            display: none;
        }

    .cart-table .cart-tbody {
        width: 100%;
        float: left
    }

        .cart-table .cart-tbody .item {
            height: 100px;
            padding: 15px 0 15px;
        }

            .cart-table .cart-tbody .item .tbody-image {
                width: 32%;
                padding-top: 5px;
            }

            .cart-table .cart-tbody .item .tbody-name {
                display: none;
            }

            .cart-table .cart-tbody .item .tbody-price {
                display: none;
            }

            .cart-table .cart-tbody .item .tbody-quantity {
                display: none;
            }

            .cart-table .cart-tbody .item .tbody-total {
                display: none;
            }

            .mobile-tbody-quantity-delete {
                display: inline-block;
                width: 25%;
                margin-left: 0px;
            }
            
            .mobile-tbody-name-price {
                display: inline-block;
                width: 34%;
                margin-left: 10px;
            }

            .cart-table .cart-tbody .item .product-image {
                height: 60px;
                width: 60px;
            }

            .cart-table .cart-tbody .item .mobile-tbody-name-price  .product-name {
                font-size: 11px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                height: 45px;
            }

            .cart-table .cart-tbody .item .mobile-tbody-quantity-delete .btn-remove-item-cart {
                font-size: 11px;
                margin-top: 0px;
                text-align: right;
            }

            .cart-table .cart-tbody .item .mobile-tbody-name-price .product-name {
                margin-top: 0px
            }

            .cart-table .cart-tbody .item .mobile-tbody-name-price .price {
                font-size: 11px;
                line-height: 3.5;
            }

            .cart-table .cart-tbody .item .mobile-tbody-quantity-delete .product-quantity {
                margin-top: 10px;
                margin-left: 15px;
                height: 35px;
            }

            .cart-table .cart-tbody .item .mobile-tbody-quantity-delete .product-quantity .number-sidebar {
                    height: 20px;
                    font-size: 11px;
                    width: 20px;
                }

                .cart-table .cart-tbody .item .mobile-tbody-quantity-delete .product-quantity .btn-minus, .btn-plus {
                    height: 20px;
                    width: 25px;              
                    font-size: 11px;
                }

        .cart-table .btn-continue {
        width: 100%;
        font-size: 11px;
        height: 30px;
    }

.table-total {
    border-radius: 0px;
    margin-top: 15px;
}

    .table-total .checkprice {
        height: 30px;
    }

    .table-total .checkprice .totals-header {
        font-size: 13px;
    }

        .table-total .checkprice .totals-price {
            font-size: 14px;
        }

    .table-total .btn-pay {
    width: 100%;
    font-size: 11px;
    height: 30px;
    }
}

@media (min-width: 310px) and (max-width: 767px) {
    main {
        margin-bottom: 30px; 
        min-height: calc(60vh - 40px);
    }

    @media only screen and (max-width: 739px) {
        main {
            margin-top: 65px; 
        }
    }
    .main-container .container{
        margin: 0px;
        max-width: 100%;
    }

    .cart-header h1 {
        font-size: 13px;
        margin-bottom: 0;
    }

        .cart-header h1 span {
            font-size: 11px;
        }

    .cart-table {
        border-radius: 0px;
        padding: 15px 20px 15px;
    }
    
        .cart-table .cart-thead {
            display: none;
        }

    .cart-table .cart-tbody {
        width: 100%;
        float: left
    }

        .cart-table .cart-tbody .item {
            height: 100px;
            padding: 10px 0 0;
        }

            .cart-table .cart-tbody .item .tbody-image {
                width: 32%;
                padding-top: 5px;
            }

            .cart-table .cart-tbody .item .tbody-name {
                display: none;
            }

            .cart-table .cart-tbody .item .tbody-price {
                display: none;
            }

            .cart-table .cart-tbody .item .tbody-quantity {
                display: none;
            }

            .cart-table .cart-tbody .item .tbody-total {
                display: none;
            }

            .mobile-tbody-quantity-delete {
                display: inline-block;
                width: 25%;
            }
            
            .mobile-tbody-name-price {
                display: inline-block;
                width: 34%
            }

            .cart-table .cart-tbody .item .product-image {
                height: 70px;
                width: 70px;
            }

            .cart-table .cart-tbody .item .mobile-tbody-name-price  .product-name {
                font-size: 11px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                height: 45px;
            }

            .cart-table .cart-tbody .item .mobile-tbody-quantity-delete .btn-remove-item-cart {
                font-size: 11px;
                margin-top: 0px;
                text-align: right;
            }

            .cart-table .cart-tbody .item .mobile-tbody-name-price .price {
                font-size: 11px;
                line-height: 3.5;
            }

            .cart-table .cart-tbody .item .mobile-tbody-quantity-delete .product-quantity {
                margin-top: 0;
                margin-left: 25px;
                margin-top: 18px;
                height: 40px;
            }

            .cart-table .cart-tbody .item .mobile-tbody-quantity-delete .product-quantity .number-sidebar {
                    height: 25px;
                    font-size: 11px;
                    width: 25px;
                }

                .cart-table .cart-tbody .item .mobile-tbody-quantity-delete .product-quantity .btn-minus, .btn-plus {
                    height: 25px;
                    width: 25px;              
                    font-size: 11px;
                }

        .cart-table .btn-continue {
        width: 100%;
        font-size: 11px;
        height: 30px;
    }

.table-total {
    border-radius: 0px;
    margin-top: 15px;
}

    .table-total .checkprice {
        height: 30px;
    }

    .table-total .checkprice .totals-header {
        font-size: 13px;
    }

        .table-total .checkprice .totals-price {
            font-size: 14px;
        }

    .table-total .btn-pay {
    width: 100%;
    font-size: 11px;
    height: 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cart-header h1 {
        font-size: 15px;
        margin-bottom: 0;
    }

    .cart-header h1 span {
        font-size: 13px;
    }

    .cart-table {
        margin-bottom: 25px;
    }    
            .cart-table .cart-thead div {
                font-size: 14px;
            }
            .cart-table .cart-tbody .item {
                padding: 10px 0px 20px
            }
            .cart-table .cart-tbody .item div {
                height: 80px;
            }
            .cart-table .cart-tbody .item .product-image {
                height: 90px;
                width: 90px;
            }
            .cart-table .cart-tbody .item .product-name {
                font-size: 13px;
                margin-left: 10px;
                margin-bottom: 0px;
            }
            .cart-table .cart-tbody .item .btn-remove-item-cart {
                font-size: 11px;
                margin-top: 8px;
                font-weight: 400;
                margin-left: 10px;
            }
            .cart-table .cart-tbody .item .price {
                font-size: 13px;
            }
                .cart-table .cart-tbody .item .product-quantity .number-sidebar {
                    height: 27px;
                    font-size: 12px;
                }
                .cart-table .cart-tbody .item .product-quantity .btn-minus, .btn-plus {
                    height: 27px;
                    width: 25px;
                    font-size: 12px;
                }
    .cart-table .btn-continue {
        font-size: 12px;
    }

    .table-total .checkprice {
        font-size: 15px
    }

        .table-total .checkprice .totals-price {
            font-size: 16px;
        }

    .table-total .btn-pay {
    width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .cart-header h1 {
        font-size: 17px;
        margin-bottom: 0;
    }

    .cart-header h1 span {
        font-size: 15px;
    }

    .cart-table .cart-thead div {
        font-size: 14px;
    }

    .cart-table .cart-tbody .item div {
        height: 80px;
    }
    
    .cart-table .cart-tbody .item {
        padding: 10px 0px 25px
    }
        .cart-table .cart-tbody .item .product-image {
            height: 90px;
            width: 90px;
        }
        .cart-table .cart-tbody .item .product-name {
            font-size: 13px;
            margin-bottom: 0PX;
        }
        .cart-table .cart-tbody .item .btn-remove-item-cart {
            font-size: 11px;
            margin-top: 8px;
            font-weight: 400;
        }
        .cart-table .cart-tbody .item .price {
            font-size: 13px;
        }
            .cart-table .cart-tbody .item .product-quantity .number-sidebar {
                height: 27px;
                font-size: 12px;
            }
            .cart-table .cart-tbody .item .product-quantity .btn-minus, .btn-plus {
                height: 27px;
                width: 25px;
                font-size: 12px;
            }
    .cart-table .btn-continue {
        font-size: 12px;
    }
.table-total {
    height: 170px;
}
.table-total .checkprice {
    height: 36px;
}
    .table-total .checkprice .totals-header {
        display: block;
        width: 100%;
        font-size: 15px;
        text-align: center;
    }
    .table-total .checkprice .totals-price {
        display: block;
        width: 100%;
        font-size: 15px;
        margin-top: 26px;
        text-align: center;
    }

    .table-total .btn-pay {
    font-size: 12px;
    padding: 0 10px;
    }
}
