* {
    font-family: 'Montserrat', sans-serif;
}

.main-checkout-page {
    padding: 20px 30px 40px 155px;
    height: 100vh;
}

#totalcount2 {
    font-size: 15px;
    font-weight: 400;
    color: #8d90a6;
}

.ship-input-infor {
    width: 100%;
    display: inline-block;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    height: 40px;
    padding: 10px 20px;
}

.ship-pay-infor {
    padding-right: 40px;
}

.cus-infor {
    padding-right: 20px
}

.logo-header {
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 60px;
}

.infor-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18.5px;
    font-weight: 700;
    display: block;
    line-height: 40px;
}

.main-checkout-page .checkout-infor input {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    line-height: normal;
    padding: 12px;
    transition: 0.2s;
}

    .main-checkout-page .checkout-infor input:focus {
        outline-color: var(--primaryYellow);
    }

.main-checkout-page .checkout-infor select {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    line-height: normal;
    padding: 0 12px;
    transition: 0.2s;
}

    .main-checkout-page .checkout-infor select:focus {
        outline-color: var(--primaryYellow);
    }

.checkout-infor .field {
    padding: 5.5px 0
}

.ship-infor .field {
    padding: 5.5px 0
}

.pay-infor .field {
    padding: 5.5px 0
}


.ship-input-infor .text-option {
    font-size: 15px;
    float: left;
    width: 65%;
}

.ship-input-infor .price {
    font-size: 15px;
    font-weight: 700;
    text-align: right;
    float: right;
    width: 35%
}

.pay-input-infor {
    width: 100%;
    display: inline-block;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    height: auto;
    padding: 0 20px;
}

    .pay-input-infor .text-option {
        font-size: 14px;
        display: block;
        line-height: 40px;
        text-align: left;
        border-bottom: 1px solid #f2f2f2
    }

.aside-checkout {
    background-color: #030049;
    color: white;
    font-family: Arial, Helvetica, sans-serif
}

    .aside-checkout .aside-content {
        background-color: #030049;
        list-style-type: none;
        padding-bottom: 20px;
        padding-top: 5px;
        padding-right: 65px;
        padding-left: 10px
    }

    .aside-checkout .aside-group {
        position: relative;
        display: block;
        padding: 10px 20px;
        margin-bottom: -1px;
        background-color: transparent;
        border: none;
        clear: both;
        overflow: hidden;
    }

    .aside-checkout .aside-content .aside-group.header {
        font-weight: 700;
        font-size: 20px
    }

    .aside-checkout .aside-content .aside-group.divider {
        border-bottom: 1px solid yellow;
        margin: 0px 20px;
        padding: 0px
    }

    .aside-checkout .aside-content .aside-group .product-image img{
        width: 70px;
        height: 70px;
    }

    .aside-checkout .aside-content .aside-group .product-name,
    .aside-checkout .aside-content .aside-group .product-image,
    .aside-checkout .aside-content .aside-group .product-quantity,
    .aside-checkout .aside-content .aside-group .tam-tinh,
    .aside-checkout .aside-content .aside-group .giam-gia,
    .aside-checkout .aside-content .aside-group .van-chuyen,
    .aside-checkout .aside-content .aside-group .tong-cong,
    .aside-checkout .aside-content .aside-group .gio-hang {
        float: left;
        text-align: left
    }

    .aside-checkout .aside-content .aside-group .product-price,
    .aside-checkout .aside-content .aside-group .gia-tam-tinh,
    .aside-checkout .aside-content .aside-group .gia-giam-gia,
    .aside-checkout .aside-content .aside-group .phi-van-chuyen,
    .aside-checkout .aside-content .aside-group .gia-tong-cong {
        float: right;
        text-align: right
    }

    .aside-checkout .aside-content .aside-group .btn-order {
        float: right;
        border-radius: 5px;
        background-color: #f2cb05;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        height: 45px;
        width: 35%;
        margin-top: 10px;
        border: 1px solid transparent
    }

        .aside-checkout .aside-content .aside-group .btn-order:hover {
            border: solid 1px black;
            background: #f2cb05;
            color: black;
            cursor: pointer;
        }

    .aside-checkout .aside-content .aside-group .gio-hang {
        margin-top: 20px;
        font-size: 14px;
        width: 65%;
        color: #9cb1ff;
        text-decoration: none
    }

        .aside-checkout .aside-content .aside-group .gio-hang:hover {
            color: var(--primaryYellow);
            text-decoration: none
        }

    .aside-checkout .aside-content .aside-group .product-name,
    .aside-checkout .aside-content .aside-group .product-price,
    .aside-checkout .aside-content .aside-group .tam-tinh,
    .aside-checkout .aside-content .aside-group .gia-tam-tinh,
    .aside-checkout .aside-content .aside-group .giam-gia,
    .aside-checkout .aside-content .aside-group .gia-giam-gia,
    .aside-checkout .aside-content .aside-group .van-chuyen,
    .aside-checkout .aside-content .aside-group .phi-van-chuyen {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400
    }

    .aside-checkout .aside-content .aside-group .product-quantity {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: #969696;
        margin: 0;
    }

    .aside-checkout .aside-content .aside-group .tong-cong {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 700
    }

    .aside-checkout .aside-content .aside-group .gia-tong-cong {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 21px;
        color: #9cb1ff;
        font-weight: 500
    }


    .aside-checkout .aside-content .aside-group .product-name,
    .aside-checkout .aside-content .aside-group .product-quantity {
        width: 45%;
        text-align: left;
        height: 40px;
        overflow: hidden
    }


    .aside-checkout .aside-content .aside-group .product-image {
        width: 25%;
    }

    .aside-checkout .aside-content .aside-group .product-price {
        width: 30%;
        text-align: right
    }

    .aside-checkout .aside-content .aside-group .input-discount {
        float: left;
        width: 65%;
        font-size: 13px;
        height: 40px;
        border-radius: 4px;
        padding: 10px;
        transition: 0.2s;
        border: 1px solid #d2d2d2;
    }

        .aside-checkout .aside-content .aside-group .input-discount:focus {
            outline-color: var(--primaryYellow);
        }

    .aside-checkout .aside-content .aside-group .btn-discount {
        float: right;
        border-radius: 5px;
        background-color: #f2cb05;
        border-color: #f2cb05;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        width: 30%;
        border: 1px solid transparent
    }

    .aside-checkout .aside-content .aside-group .btn-discount:hover {
        border: solid 1px black;
        background: #f2cb05;
        color: black;
        cursor: pointer;
    }

    .aside-checkout .aside-content .aside-group .product-quantity {
        padding-top: 10px;
        margin: 0;
    }

    .aside-checkout .aside-content .aside-group.product-detail {
        padding-top: 15px;
        padding-bottom: 0
    }

    .aside-checkout .aside-content .aside-group.discount {
        padding-top: 15px;
        padding-bottom: 15px
    }

    .aside-checkout .aside-content .aside-group.wrap-tam-tinh {
        padding-top: 15px;
        padding-bottom: 2px
    }

    .aside-checkout .aside-content .aside-group.wrap-giam-gia {
        padding-top: 10px;
        padding-bottom: 2px
    }

    .aside-checkout .aside-content .aside-group.wrap-van-chuyen {
        padding-top: 10px;
        padding-bottom: 15px
    }
       
@media screen and (max-width: 992px) {    
    .main-checkout-page {
        padding: 20px 30px;
        height: auto;
    }

.ship-pay-infor {
    padding-right: 12px;
}

.cus-infor {
    padding-right: 12px
}

.logo-header {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.infor-header {
    font-size: 16.5px;
    font-weight: 600;
}

.main-checkout-page .checkout-infor input {
    height: 35px;
    font-size: 13px;
}

.main-checkout-page .checkout-infor select {
    height: 35px;
    font-size: 13px;
}

.ship-input-infor {
    padding: 10px;
}

.ship-input-infor .text-option {
    font-size: 13px;
    width: 70%;
}

.ship-input-infor .price {
    font-size: 13px;
    font-weight: 600;
    width: 30%
}

.pay-input-infor {
    padding: 0 10px;
}

    .pay-input-infor .text-option {
        font-size: 13px;
        /* width: 100%; */
    }
    .aside-checkout .aside-content {
        padding: 5px 10px 20px
    }

    .aside-checkout .aside-group {
        padding: 10px;
    }

    .aside-checkout .aside-content .aside-group.header {
        font-weight: 600;
        font-size: 16.5px
    }

    .aside-checkout .aside-content .aside-group.divider {
        margin: 0px 10px;
    }

    .aside-checkout .aside-content .aside-group .product-image img{
        width: 60px;
        height: 60px;
    }

    .aside-checkout .aside-content .aside-group .btn-order {
        font-size: 12px;
        font-weight: 600;
        width: 38%;
        height: 30px;
        margin-top: 0;
    }

    .aside-checkout .aside-content .aside-group .gio-hang {
        font-size: 12px;
        width: 62%;
        margin-top: 0;
    }

    .aside-checkout .aside-content .aside-group .product-name,
    .aside-checkout .aside-content .aside-group .product-price,
    .aside-checkout .aside-content .aside-group .tam-tinh,
    .aside-checkout .aside-content .aside-group .gia-tam-tinh,
    .aside-checkout .aside-content .aside-group .giam-gia,
    .aside-checkout .aside-content .aside-group .gia-giam-gia,
    .aside-checkout .aside-content .aside-group .van-chuyen,
    .aside-checkout .aside-content .aside-group .phi-van-chuyen {
        font-size: 13px;
    }

    .aside-checkout .aside-content .aside-group .product-quantity {
        font-size: 11px;
        font-weight: 600;
    }

    .aside-checkout .aside-content .aside-group .tong-cong {
        font-size: 14px;
        font-weight: 600
    }

    .aside-checkout .aside-content .aside-group .gia-tong-cong {
        font-size: 16px;
    }


    .aside-checkout .aside-content .aside-group .product-name,
    .aside-checkout .aside-content .aside-group .product-quantity {
        padding-left: 10px;
    }

    .aside-checkout .aside-content .aside-group .input-discount {
        font-size: 12px;
        height: 30px;
        padding: 10px;
    }

    .aside-checkout .aside-content .aside-group .btn-discount {
        font-size: 12px;
        height: 30px;
    }

    .aside-checkout .aside-content .aside-group .product-quantity {
        padding-top: 5px;
    }

    .aside-checkout .aside-content .aside-group.product-detail {
        padding-top: 10px;
    }

    .aside-checkout .aside-content .aside-group.discount {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .aside-checkout .aside-content .aside-group.wrap-tam-tinh {
        padding-top: 10px;
    }

    .aside-checkout .aside-content .aside-group.wrap-van-chuyen {
        padding-bottom: 10px
    }

}

@media (min-width: 992px) and (max-width: 1396px) {    
    .main-checkout-page {
        padding: 20px 25px 40px 100px;
    }

    .logo-header {
        margin-bottom: 15px;
        height: 55px;
    }

    .infor-header {
        font-size: 18px;
        font-weight: 600;
    }

    .ship-pay-infor {
        padding-right: 30px;
    }
        
    .main-checkout-page .checkout-infor input {
        height: 35px;
        font-size: 13px;        
        padding: 10px;
    }
     
    .main-checkout-page .checkout-infor select {
        height: 35px;
        font-size: 13px;
        padding: 0 10px;
    }
    
    .checkout-infor .field {
        padding: 7px 0
    }
    
    .ship-infor .field {
        padding: 7px 0
    }
    
    .pay-infor .field {
        padding: 7px 0
    }

    .ship-input-infor {
        height: 35px;
        padding: 8px 15px;
    }
    
    .ship-input-infor .text-option {
        font-size: 13px;
    }
    
    .ship-input-infor .price {
        font-size: 13px;
        font-weight: 600;
    }
    
    .pay-input-infor {
        width: 100%;
        display: inline-block;
        border: 1px solid #d2d2d2;
        border-radius: 4px;
        height: auto;
        padding: 0 10px;
    }
    
        .pay-input-infor .text-option {
            font-size: 13px;
            line-height: 35px;
        }
    

        .aside-checkout .aside-content {
            padding-bottom: 0px;
            padding-right: 35px;
            padding-left: 10px
        }
    
        .aside-checkout .aside-group {
            padding: 10px;
        }
    
        .aside-checkout .aside-content .aside-group.header {
            font-weight: 600;
            font-size: 18px
        }
    
        .aside-checkout .aside-content .aside-group.divider {
            margin: 0px 10px;
        }
    
        .aside-checkout .aside-content .aside-group .btn-order {
            font-size: 13px;
            font-weight: 600;
            height: 40px;
        }
    
        .aside-checkout .aside-content .aside-group .gio-hang {
            font-size: 13px;
        }
    
        .aside-checkout .aside-content .aside-group .product-name,
        .aside-checkout .aside-content .aside-group .product-price,
        .aside-checkout .aside-content .aside-group .tam-tinh,
        .aside-checkout .aside-content .aside-group .gia-tam-tinh,
        .aside-checkout .aside-content .aside-group .giam-gia,
        .aside-checkout .aside-content .aside-group .gia-giam-gia,
        .aside-checkout .aside-content .aside-group .van-chuyen,
        .aside-checkout .aside-content .aside-group .phi-van-chuyen {
            font-size: 13px;
        }
    

        .aside-checkout .aside-content .aside-group .tong-cong {
            font-size: 15px;
            font-weight: 600
        }
    
        .aside-checkout .aside-content .aside-group .gia-tong-cong {
            font-size: 18px;
            font-weight: 500
        }
    
        .aside-checkout .aside-content .aside-group .product-name,
        .aside-checkout .aside-content .aside-group .product-quantity {
            padding-left: 10px;
        }

        .aside-checkout .aside-content .aside-group .product-image img{
            width: 65px;
            height: 65px;
        }

        .aside-checkout .aside-content .aside-group .product-quantity {
            margin-bottom: 0;
        }
    
        .aside-checkout .aside-content .aside-group .input-discount {
            font-size: 12px;
            height: 35px;
        }
    
    
        .aside-checkout .aside-content .aside-group .btn-discount {
            font-size: 13px;
            height: 35px;
        }
}