@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
body{    
    margin: 0;    
}

footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    padding: 0 100px;    
    display: flex;
    flex-wrap: wrap;
    outline: none;
    box-sizing: border-box;
    justify-content: space-between;    
    background: var(--primaryBlack);
    color: var(--primaryWhite);    
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-size: 500;
}

.container-about-policy-guideline {
    display: flex;
    width: auto;
    padding: 1.5rem 0;    
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;           
}

.container-contact-social {
    display: flex;
    width: auto;
    padding: 1.5rem;    
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;           
}

.footer-title {
    font-size: 14px;
    font-weight: 600;
}

.about-us, .policy {
    padding: 0;   
    margin-right: 6rem; 
}

.contact-info {
    padding: 0;   
    margin-right: 1.5rem; 
}

.container-contact-social {
    background: var(--primaryYellow);
    color: var(--primaryBlack);
}

.container-contact-social img {
    height: 1.7rem;
}

footer a {
    color: var(--primaryWhite);
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
    left: 0;    
}

footer li {
    display: block;
    text-decoration: none;
}

.contact-info ul li {    
    display: block;
    text-decoration: none;
}

.contact-info .hotline, .email {
    display: flex;
}

.container-about-policy-guideline ul li {
    margin: 0 0 0.5rem 0;
} 

.container-contact-social ul li {
    margin: 0 0 0.5rem 0;
}

.hotline ul {
    margin-left: 0.8rem;
}

.hotline ul li {
    margin: 0;
}

.email ul {
    margin-left: 0.8rem;
}

.email ul li {
    margin: 0;
}

