@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');
body{    
    margin: 0;
    display: flex;
    flex-direction: column;    
}

footer {
    margin-top: auto;    
    width: 100%;
    height: auto;
}

.footer-container {    
    padding: 0 5%;    
    display: flex;
    flex-wrap: wrap;
    outline: none;
    box-sizing: border-box;
    justify-content: space-between;    
    background: var(--primaryBlack);
    color: var(--primaryWhite);    
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.container-about-policy-guideline {
    display: flex;
    width: 60%;
    padding-top: 1.5em;        
    justify-content: space-between;
    flex-wrap: wrap;   
    box-sizing: border-box;           
}

.container-contact-social {
    display: flex;
    width: auto;
    padding: 1.5em 2em 0 2em;    
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: var(--primaryYellow);
    color: var(--primaryBlack);
    font-size: 14px;        
}

.footer-title {
    font-size: 14px;
    font-weight: 600;
}

.about-us, .policy, .guideline {
    padding: 0;    
}

/* .container-contact-social {
    background: var(--primaryYellow);
    color: var(--primaryBlack);
    font-size: 14px;
} */

.contact-info {
    padding: 0;   
    margin-right: 1.5em;
    font-size: 14px; 
}

.container-contact-social img {
    height: 30px;
}

footer a {
    color: var(--primaryWhite);
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 0;
    left: 0;    
}

footer li {
    display: block;
    text-decoration: none;
}

.contact-info ul li {    
    display: block;
    text-decoration: none;
}

.contact-info .hotline, .email {
    display: flex;
}

.container-about-policy-guideline ul li {
    margin: 0 0 0.5em 0;
} 

.container-contact-social ul li {
    margin: 0 0 0.5em 0;
}

.hotline ul {
    margin-left: 0.8em;
}

.hotline ul li {
    margin: 0;
}

.email ul {
    margin-left: 0.8em;
}

.email ul li {
    margin: 0;
}
.ic-arrow {
    display: none;
}
/* RESPONSIVE */
@media screen and (max-width: 1200px) {

    .footer-container {
        padding: 0;
    }

    .container-about-policy-guideline {
        width: 100%;
        padding: 1.5em 5% 0 5%;
    }
    .container-contact-social {
        display: block;        
        width: 100%;
    }
    .contact-info {        
        width: 100%;                    
    }    
    .container-contact-social .footer-title {
        text-align: center;
    }
    .hotline, .email {
        width: 20%;        
        margin: auto;        
    }

    .email {
        margin-top: 1em;
        margin-bottom: 1.5em;
    }

    .connect-icon {
        text-align: center;
    }
    .contact-content {
        margin-top: 1.5em;
    }
    .connect-icon {
        margin-top: 1.5em;
    }
}

@media screen and (max-width: 768px) {

    .container-about-policy-guideline {
        display: block;
        padding-right: 10%;
        padding-left: 10%;
    }
    
    #aboutUs, #policy, #guideLine{
        display: none;
    }
    .ic-arrow {
        display: inline-block;
        z-index: 1;
        cursor: pointer;
    }
    .footer-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 0 1em 0;
    }
    .container-about-policy-guideline .footer-title:hover {
    /* cursor: pointer;         */
    }    

    .container-contact-social {
        padding-right: 10%;
        padding-left: 10%;
    }
    .container-contact-social .footer-title {
        text-align: left;
        margin-bottom: 1.5em;        
    }
    .hotline, .email {
        width: 100%;        
        margin: auto;        
    }
    .email {
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
    .connect-icon {
        text-align: left;
    }
    .active {
        display: block;
    }
}

