@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} */

.nav-header {
    background: var(--primaryYellow);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;    
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav-menu {
    overflow: hidden;
    align-content: center;
    flex: 1;
    margin: 0 0 0 50px;
}

    .nav-menu a {
        float: left;
        font-size: 16px;
        font-weight: 600;
        color: black;
        text-align: center;
        padding: 25px 25px;
        text-decoration: none;
    }

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 16px;
        font-weight: 600;
        border: none;
        outline: none;
        color: black;
        padding: 25px 25px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }

    .nav-menu a:hover, .dropdown:hover .dropbtn {
        background-color:var(--V2);
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--primaryBlack);;    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: var(--primaryWhite);;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        font-weight: 500;
    }

        .dropdown-content a:hover {
            background-color: var(--V2);
            color: black;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.nav-header form {
    display: flex;
    height: 25px;
    padding: 10px;
    margin: 0 40px 0 0;
    background: var(--primaryWhite);;
    min-width: 25% !important;
    border-radius: 25px;
    border: 1px solid rgba(155,155,155,0.2);
}

.nav-header form .search {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        color:var(--primaryWhite);;
        font-size: 17px;
        border: none;
        background: none;
    }

    .nav-header form button {
        padding: 0 0;
        color:var(--primaryWhite);;
        background: none;
        border: none;
        border-radius: 23px;
        cursor: pointer;
    }

    .nav-header .search-icon {
    text-align: center;
    margin: 0 10px 0 10px;
    color:var(--primaryWhite);;
    cursor: pointer;
}

.account-icon {
    margin: 0 30px 0 0;
}
