
* {
    box-sizing: inherit;
}

html {
   
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
   
    padding: 0;
    width: 100%;
    display: block;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.product__content{
    padding-top: 36px;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    width: 16.6667%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-10 {
   
    width: 83.3333%;
    padding-left: 5px;
    padding-right: 5px;
}

.grid__column-2-4 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
}

/************** main-style ***************/
/* banner */
.banner{
    text-align: center;
    width: 100%;
}

.banner__img {
    width: 100%;
    margin: 0 auto;
}

/* category */
.category {
    box-shadow: 0px 0.8rem 0.8rem 0 rgba(153,153, 153, 0.2);
    border-radius: 2px;
    text-align: left;
}
    .category__heading {
        background-color: rgba(0,0,0, 0.7);
        margin-top: 0px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: var(--primaryWhite);
        font-size: 2rem;
        padding: 16px 18px;
        border-bottom: 1px solid rgba(0,0,0, 0.05);
    }

    .category__heading-icon {
        font-size: 1.55rem;
        margin-right: 4px;
        position: relative;
        top: -1px;
    }

    .category-list {
        padding: 0 0 10px 0;
        list-style: none;
        margin-left: 9px;
        border-bottom: 1px solid rgba(0,0,0, 0.05);
    }

    .category-item--active .category-item__link{
        color: var(--primaryBlack);
        font-size: 1.55rem;
    }       

    .category-item--active .category-item__link::before{
        content: "";
        top: 50%;
        transform: translateY(calc(-50% - 1px));
        left: 6px;
        position: absolute;
        border: 4px solid;
        border-color: transparent transparent transparent var(--primaryBlack);
    }       

    .category-item__link{
        position: relative;
        font-size: 1.45rem;
        text-decoration: none;
        color: var(--ink02);
        padding: 14px 16px;
        display: block;
        transition: right linear 0.1s;
        right: 0px;
    }

    .category-item__link:hover {
        right: -4px;
        color:var( --p-cartColor );
    }

 /* Mobile category */
.mobile-category {
    width: 100%;
    display: none;
}

    .mobile-category__list {

        display: flex;
        list-style: none;
        padding: 0;
        max-width: 100%;
        overflow-x: auto;
    }

    .mobile-category__list::-webkit-scrollbar {
        display: none;
    }


    .mobile-category__item {
        flex-shrink: 0;
        margin-right: 10px;
        border-radius: 5px;
        padding: 5px 3px;

    }


    .mobile-category__item:nth-of-type(3n+1) {
        background-color: rgba(0,0,0, 0.6);
    }
    .mobile-category__item:nth-of-type(3n+2) {
        background-color: var(--p-btnGreen);
    
    }
    .mobile-category__item:nth-of-type(3n+3) {
        background-color: var(--V1);
    }

    .mobile-category__link {
        text-decoration: none;
        color: var(--primaryWhite);
        font-size: 1.35rem;
        line-height: 1.65rem;
        text-align: center;
        font-weight: 300;
        display: block;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        user-select: none;
        -webkit-user-select: none;
        -webkit-tap-highlight-color: transparents;
        width: 100px;
        height: 33px;
        top: 50%;
    
    }

 /* Mobile sort-bar*/
.mobile__sort-bar  {
    position:fixed;
    top: var (--header-height);
    left:0;
    right:0;
    height: 3.5rem;
    background-color: white;
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    border: 1px solid var(--ink04);
}

    .sort-bar__item {
        flex:1;
    }

    .sort-bar__link {
    
        text-decoration: none;
        color: var(--ink01);
        font-size: 1.35rem;
        display: block;
        height: 100%;
        line-height: 3.5rem;
        text-align: center;
        position: relative;
    }

    .sort-bar__link::before {
        content : "";
        position: absolute;
        height: 60%;
        top: 50%;
        left: 0;
        border-left: 1px solid var(--ink04);
        transform: translateY(-50%);
    }

    .sort-bar__item:first-child .sort-bar__link::before{
        display: none;
    }

/* filter */
.filter {
    color: var(--primaryBlack);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-bottom: 10px;
}
    .product-filter {
        /* z-index: 1; */
        display: flex;
        align-items: center;
    }
    .product-filter__select{
        position: relative;
        margin-left: 1.6rem;
        min-width: 16rem;
        display: flex;
        padding: 0 12px;
        min-height: 2.8rem;
        align-items: center;
        border-radius: 2px;
        justify-content: space-between;
        background-color: var(--ink05);
    }

        .product-filter__select:hover .select-input__list {
            display: block;
        }

    .product-filter__select--label{
        font-size: 1.3rem;
    }

    .product-filter__label{
        font-size: 1.5rem;
    }

    .select-input__list{
        padding-inline-start: 0px;
        margin-left: 0;
        position:absolute;
        background-color: var(--primaryWhite);
        top: 1.7rem;
        left: 0px;
        right: 0px;
        border-radius: 2px;
        list-style: none;
        box-shadow: 0px 0.9rem 0.9rem 0 rgba(153,153, 153, 0.2);
        display: none;
    }

    .select-input__link{
        height: 1.6rem;
        display:block ;
        margin: 0 auto;
        margin-inline-start: 1.6rem;
        text-decoration: none;
        font-size:1.3rem;
        color: var(--ink01);
    }

    .select-input__link:hover {
        color:var(--p-cartColor);
    }

    .select-input__item {
        padding: 5px;
        border-bottom: 0.8px solid rgba(0,0, 0, 0.08);
    }

    .page-filter {
        display: flex;
        align-items: center;
    }
        
    .page-filter__number {
        margin-right: 3px;
        font-size: 1.8rem;
    }
        
    .page-filter__number--current {
         color:var(--ink01);
    }

    .page-filter__number--total {
        color: var(--ink03);
    }


    .page-filter__btn {
        display: flex;
        height: 1.93rem;
        margin: 0 auto;
        text-decoration: none;
    }

    /* product item */
    .product-item {
        padding-top: 0.4rem;
        padding-bottom: 0.7rem;
        display: block;
        text-decoration: none;
        position: relative;
        margin-top: 10px;
        background-color: var(--primaryWhite);
        border-radius: 8px;
        border: 1px solid var(--ink05);
        box-shadow: 0 3px 5px 0 rgba(0,0,0, 0.1);
        transition: transform linear 0.1s;
        will-change: transform;
    }

    .product-item:hover {
        transform: translateX(-2px);
        background-color: var(--ink05);
        box-shadow: 0 1px 10px 0 rgba(0,0,0, 0.05);
    }

    .product-item__picture{
        text-align: center;
        padding: 0.6rem 0;
    }
    .product-item__img {
        width: 70%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .product-item__name {
        margin:  0 1.2rem;
        font-size: 1.35rem;
        font-weight: 400;
        color: var(--ink01);
        line-height: 1.85rem;
        height: 3.7rem;
        overflow: hidden;
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
       
    }

    .product-item__price {
        display: flex;
        margin-top: 1.2rem;
        align-items: baseline;
        flex-wrap: wrap;
      
    }

    .product-item__price-old {
        font-size: 1.35rem;
        margin-left: 12px;
        color:var( --ink03 );
        text-decoration: line-through;
       
    }

    .product-item__price-current {
        font-size: 1.5rem;
        color:var( --p-priceColor);
        margin-left: 1.2rem;
        font-weight: 470;
   
    }

    .product-item__action {
        display: flex;
        color: var(--ink02);
        align-items: baseline;
        justify-content: space-between;
        margin: 1.2rem;
    }

    .product-item__add-cart {
        font-size: 2.2rem;
    }

    .score-rating{
        font-size: 1.1rem;
    }

    .product-item__add-cart .product-item__cart-icon {
        display: inline-block;
        color:var( --p-cartColor);
    }

  
    .product-item_rating {
        font-size: 0.8rem;
        color:var( --ink03);
    }

    .product-item__star--gold {
        color:var(--primaryYellow);
    }


    .product-item__favourite {
        position: absolute;
        top: 1.2rem;
        padding-right: 4px;
        border-top-right-radius:3px;
        border-bottom-right-radius:3px;
        left: -4px;  
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: var(--primaryYellow);
        font-weight: 500;
        background-color: currentColor;
    }

    .product-item__favourite::after {
        content: "";
        position: absolute;
        left: 0;
        bottom:-3px;
        border-top: 3px solid  currentColor;
        filter: brightness(60%);
        border-left: 3px solid transparent;
    }

    .product-item__favourite i {
        color: black;
        font-size: 0.9rem;
        margin: 0 3px 0 5px;
    }

    .product-item__favourite span {
       color: black;
    }

    .product-item__sale-off {
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 2px;
        width: 4.2rem;
        height: 3.8rem;
        text-align: center;
        background-color: var(--V1);
    }

    .product-item__sale-off::after{
        content: "";
        left: 0px;
        bottom: -0.4rem;
        position: absolute;
        border-width: 0 2.1rem 0.4rem;
        border-style: solid;
        color: var(--V1);
        border-color: transparent  currentColor transparent  currentColor;
    }

    .product-item_sale-off-percent {
        color: var(--primaryBlack);
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.2rem;
        position: relative;
        top: 2px;
    }
    .product-item_sale-off-label {
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 500;
        color: var(--primaryBlack);
        position: relative;
        top: 0px;
    }

 /* pagination */   
.product__pagination{
    margin-top: 5rem;
    display: block;
}
 .pagination {
    padding-left: 0px;
    display: flex;
    list-style: none;
    justify-content: center;
 }
    
    .pagination-item {
        margin: 0 1.5rem;
        font-size: 2rem;
    }
    
    .pagination-item .pagination-item__space {
        height: 5px;
        line-height: 5px;
        text-align: center;
        color: var(--ink02);
    }

    .pagination-item--active  .pagination-item__link{
        background-color: var(--V1);
        border-radius: 22px;
    }

    .pagination-item__link {
        text-decoration: none;
    
        color: var(--ink01);
        width: 40px;
    
        height: 40px;
        line-height: 40px;
    
        display: block;
        text-align: center;
    }

    .pagination-item__icon {
    
        margin: 0 auto;
        color: var(--ink03);
    }


  
/* PC medium resolution: width >= 1024px and width < 1239px  */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width:  984px;
    }

    .wide .grid__row {
        margin-left: -4px;
        margin-right: -4px;
    }
    
    .wide .grid__column-2 {
        width: 20%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .wide .grid__column-10 {
        width: 80%;
        padding-left: 4px;
        padding-right: 4px;
    }
    
    .wide .grid__column-2-4 {
        width: 25%;
        padding-left: 4px;
        padding-right: 4px;
    }
    .wide .product-item {
        margin-top: 8px;
    }
}

/* Reponsive */
/* Table/ PC low resolution: width >= 740px and width < 1024px */
@media  (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width:  644px;
    }
    .wide .grid__row {
        margin-left: -3px;
        margin-right: -3px;
    }
    
    .wide .grid__column-2 {
        display: none;
        padding-left: 3px;
        padding-right: 3px;
    }
    
    .wide .grid__column-10 {
        flex:1;
        padding-left: 3px;
        padding-right: 3px;
    }
    
    .wide .grid__column-2-4 {
        width: 33.333%;
        padding-left: 3px;
        padding-right: 3px;
    }
    .wide .product-item {
        margin-top: 6px;
        padding-top: 2px;
        padding-bottom: 4px;
    }

    .banner{
        display: none;
     }

    .pagination-item {
        margin: 0 1.3rem;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 739px) {
    
    .grid__row {
        margin-left: -2px;
        margin-right: -2px;
    }
    
    .grid__column-2 {
        display: none;
        padding-left: 2px;
        padding-right: 2px;
    }
    
    .grid__column-10 {
        width: 100%;
        flex: 1;
        padding-left: 2px;
        padding-right: 2px;
    }
    
     .grid__column-2-4 {
        width: 50%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .grid__column-10 .filter {
        display: none;
    }

    .banner{
       display: none;
    }
    .grid .mobile-category {
        display: block;
    }
    
    .grid__column-2-4 .product-item {
        margin-top: 4px;
        padding: 0;
    }
    .grid__column-2-4 .product-item__price {    
        margin-top: 0.9rem;
    }

    .grid__column-2-4 .product-item__action {
        margin: 0.9rem 1rem;
    }
    .grid__column-2-4 .product-item_rating {
        font-size: 0.6rem;
      
    }
    .grid__column-2-4 .score-rating{
        font-size: 0.9rem;
    }

    .grid__column-2-4 .product-item__name {
       
        font-size: 1.25rem;
        line-height: 1.6rem;
        height: 3.2rem;
    }
    .grid__column-2-4 .product-item__price-current {
        font-size: 1.4rem;
    }
    .grid__column-2-4 .product-item__price-old {
        font-size: 1.2rem;
    }
    .grid__column-2-4 .product-item__add-cart {
        font-size: 1.9rem;
    }
    .grid__column-2-4 .product-item__img {
        width: 60%;
    }
    .wide .mobile__sort-bar {
        display: flex;
    }
    .product__pagination{
        margin-top: 3rem;
        text-align: center;
    }
    .pagination-item {
        margin: 0 8px;
        font-size: 1.6rem;
    }
    
    .pagination-item .pagination-item__space {
        height: 5px;
        line-height: 5px;
        text-align: center;
        color: var(--ink03);
    }

    .pagination-item__link {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        text-align: center;
    }

}
   