
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

body {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
#all div p {
    line-height: 30px;
    width: 70%;
}

.register {
    display:inline-block;
    padding: 10px;
    width: 220px;
    color: var(--primaryWhite);
    background-color:  var(--primaryYellow);
    border: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif; 
}
    .register:hover {
        background-color: var(--primaryYellow);
    }

.login {
    display:inline-block;
    padding: 10px;
    width: 220px;
    color: var(--primaryWhite);
    background-color:  var(--primaryYellow);
    border: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif; 
}
    .login:hover {
        background-color: var(--primaryYellow);
    }
#all p a{
    /* text-decoration: none; */
    color: black;
}
#all p a:hover{
    /* text-decoration: none; */
    color: var(--primaryYellow);
}
.imgcontent {
    margin: 10px 50px 10px 0px;
}

#all{
    margin-top: 80px;
}

.register a {
    text-decoration: none;
    color: white;
}
.login a {
    text-decoration: none;
    color: white;
}
