/*Thiết lập vị trí, độ rộng, chiều cao của hình ảnh và nội dung*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body .page-title{
    margin-left: 5%;
}
body .page-title h1{
    color: var(--primaryBlack);
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 2%;
    margin-top: 2%;
    display: inline-block;
    letter-spacing: 0px;
}
section{
    position: relative;
    width: 90%;
    height: 75vh;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    border: 0.1px solid #a3b1b8;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
               0 2px 2px rgba(0,0,0,0.12),
               0 2px 2px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12);
}
    section .img-bg{
        position: relative;
        width: 50%;
        height: 85%;
        left: -2%;
        top: 2%;
    }
        section .img-bg img{
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 2%;
            left: 2%; 
            width: 93%;
            height: 100%;
            object-fit: cover;
        }
    /*thiết lập vị trí của form nằm chính giữa trong phần nội dung và trang trí lại tiêu đề h2*/
    section .noi-dung{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }
        section .noi-dung .form{
            width: 80%;
            height: 97%;
        }

        section .noi-dung .form h2{
            color: var(--primaryBlack);
            font-weight: 500;
            font-size: 25px;
            /* text-transform: uppercase; */
            margin-bottom: 10px;
            margin-top: 20px;
            display: inline-block;
            letter-spacing: 0px;
        }

        section .noi-dung .form h4{
            color: var(--primaryBlack);
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 20px;
            display: inline-block;
            letter-spacing: 0px;
        }
        /*Style ô input*/
        section .noi-dung .form .input-form{
            margin-bottom: 20px;
        }
        section .noi-dung .form .input-form span{
            font-size: 16px;
            margin-bottom: 5px;
            display: inline-block;
            letter-spacing: 1px;
            }
        section .noi-dung .form .input-form input{
            width: 100%;
            /* height: 40%; */
            padding: 10px 20px;
            outline: none;
            border: 1px solid var(--ink03);
            font-size: 16px;
            letter-spacing: 0px;
            background: transparent;
            border-radius: 7px;
            margin-bottom: 5px;
            }
        section .noi-dung .form .input-form input[type="submit"]{
            background: var(--primaryYellow);
            color: var(--primaryWhite);
            text-transform: uppercase;
            outline: none;
            border: none;
            font-weight: 500;
            font-size: 17px;
            cursor: pointer;
            /* box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                    0 2px 2px rgba(0,0,0,0.12),
                    0 4px 4px rgba(0,0,0,0.12),
                    0 8px 8px rgba(0,0,0,0.12),
                    0 16px 16px rgba(0,0,0,0.12); */
        }

        section .noi-dung .form .accept{
            margin-bottom: 20px;
        }
        section .noi-dung .form .accept a{
            color: #F2CB05;
        }
        section .noi-dung .form .input-form p{
            /* Bạn chưa có tài khoản */
            /* color: #607d8b; */
            text-align: center;
        }
        section .noi-dung .form .input-form p a{
            color: #F2CB05;
        }

        /*Style icon*/
        section .noi-dung .form h3{
            color: #607d8b;
            text-align: center;
            margin: 20px 0 10px;
            font-weight: 500;
        }
/*Responsive*/
@media (max-width: 1000px){
    section .img-bg{
        position: absolute;
        left: 1.5%;
        width: 100%;
        height: 93%;
    }
    section .noi-dung{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .noi-dung .form{
        width: 100%;
        height: 100%;
        padding: 40px;
        background: rgba(255 255 255 / 0.9);
        margin: 50px;
    }
    section .noi-dung .form h3{
        color: #000000;
        text-align: center;
        margin: 0px 0 10px;
        font-weight: 500;
    }
    section .noi-dung .form h2{
        color: #000000;
        text-align: center;
        margin: 0px 0 10px;
        font-weight: 500;
    }
    section .noi-dung .form h4{
        color: #000000;
        text-align: left;
        margin: 10px 0 20px;
        font-weight: 500;
    }
}